@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeicons/primeicons.css";
@import '~boxicons/css/boxicons.min.css';

body {
  background-color: rgb(17, 65, 80);
  height: 100%;
}

/*Login*/
.p-float-label label {
  visibility: visible !important;
}

.background-container {
  height: 100vh;
  background-image: url('./assets/images/fondo3.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  width: 50%;
  max-width: 1000px;
}

.card-container {
  backdrop-filter: blur(5px);
  border-radius: 10px;
  padding: 30px;
  width: 400px;
  margin: 0 auto; /* Add this line to center the card */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-group {
  text-align: center;
}

.custom-input {
  font-size: 16px;
  border-radius: 0.4rem;
  border: 1px solid #d3d3d3;
  height: 50px;
  width: 234px;
  padding: 20px;
}

/*Kanban*/
.titulo {
  margin-top: 4rem;
}

.button-container{
  margin: auto;
  padding-top: 55px;
}

.todo {
  text-align: center;
  border: 1px solid red;
  background-color: #ffe6e6;
  padding: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.doing {
  text-align: center;
  border: 1px solid yellow;
  background-color: #ffffcc;
  padding: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.done {
  text-align: center;
  border: 1px solid green;
  background-color: #ccffcc;
  padding: 20px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.kanban-container {
  padding: 30px;
  margin: auto;
}

.task-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  margin-bottom: 10px;
  margin-top: auto;
  padding: auto;
}

.cardEditar {
  width: 500px; /* ancho fijo deseado */
  margin: 0 auto; 
}

.btn-green {
  color: #fff;
  background-color: #4caf50;
  border-color: #4caf50;
  margin: auto;
}

.btn-green:hover {
  background-color: #3e8e41;
  border-color: #3e8e41;
}

.estado-tarjeta {
  display: inline-block;
  padding: 3px 6px;
  border-radius: 3px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 14px;
}

.card {
  border: none;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 5px #ddd;
  padding-top: auto;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.prioridad-tarjeta {
  display: inline-block;
  padding: 5px 10px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  }
  
  .bg-danger {
  background-color: #dc3545;
  }
  
  .bg-warning {
  background-color: #ffc107;
  }
  
  .bg-success {
  background-color: #28a745;
  }