<app-headbar></app-headbar>
<div class="sidebar" [ngClass]="{'open': sidebarOpen, 'closed': !sidebarOpen}" [style.transition]="'all 0.3s ease'">
    <button (click)="closeSidebar()" class="close-button pi pi-times"></button>
    <ul>
      <li><a routerLink="/dashboard"><i class="pi pi-home"></i> Home</a></li>
      <li><a routerLink="/pacientes"><i class="pi pi-id-card"></i> Pacientes</a></li>
      <li><a routerLink="/tratamientos"><i class="pi pi-list"></i> Tratamientos</a></li>
      <li><a routerLink="/doctores"><i class="pi pi-users"></i> Doctores</a></li>
      <li><a routerLink="/inventario"><i class="pi pi-shopping-cart"></i> Inventario</a></li>
      <li><a routerLink="/eventos"><i class="pi pi-calendar"></i>Calendario</a></li>
      <li><a routerLink="/presupuestos"><i class="pi pi-dollar"></i> Presupuestos</a></li>
      <li><a routerLink="/estadisticas"><i class="pi pi-chart-bar"></i> Estadísticas</a></li>
    </ul>
  </div>
  
  <button (click)="openSidebar()" class="open-button pi pi-bars" [style.transition]="'all 0.3s ease, z-index 0s linear ' + (sidebarOpen ? '0s' : '0.3s')"></button>
   
