<nav class="navbar">
    <div class="navbar__left">
      <img src="logo.png" alt="Logo" class="navbar__logo">
    </div>
    <div class="navbar__right">
      <div class="navbar__notification">
        <i class="fa fa-bell"></i>
      </div>
      <div class="navbar__profile">
        <img src="profile.png" alt="Perfil" class="navbar__profile-image">
        <span class="navbar__profile-name">{{usuario.name}}</span>
      </div>
      <div class="navbar__dropdown">
        <button class="navbar__dropdown-button"><i class="fa fa-cog"></i></button>
        <ul class="navbar__dropdown-menu">
          <li><a href="#">Ver perfil</a></li>
          <li><a href="#">Configuración</a></li>
        </ul>
      </div>
    </div>
  </nav>
