<app-headbar></app-headbar>
<div class="sidebar" [ngClass]="{'open': sidebarOpen, 'closed': !sidebarOpen}" [style.transition]="'all 0.3s ease'">
  <button (click)="closeSidebar()" class="close-button pi pi-times"></button>
  <ul>
    <li><a routerLink="/dashboard"><i class="pi pi-home"></i> Home</a></li>
    <li><a routerLink="/pacientes"><i class="pi pi-user"></i> Pacientes</a></li>
    <li><a routerLink="/tratamientos"><i class="pi pi-clipboard"></i> Tratamientos</a></li>
    <li><a routerLink="/doctores"><i class="pi pi-users"></i> Doctores</a></li>
    <li><a routerLink="/inventario"><i class="pi pi-shopping-cart"></i> Inventario</a></li>
    <li><a routerLink="/eventos"><i class="pi pi-calendar"></i>Calendario</a></li>
    <li><a routerLink="/presupuestos"><i class="pi pi-dollar"></i> Presupuestos</a></li>
    <li><a routerLink="/estadisticas"><i class="pi pi-chart-bar"></i> Estadísticas</a></li>
  </ul>
</div>

<button (click)="openSidebar()" class="open-button pi pi-bars" [style.transition]="'all 0.3s ease, z-index 0s linear ' + (sidebarOpen ? '0s' : '0.3s')"></button>
  


<p-dialog
  [(visible)]="displayDialog"
  [responsive]="true"
  [modal]="true"
  [closable]="true"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [draggable]="true"
  (onHide)="onHideDialog()"
>
  <div>
    <form autocomplete="off" [formGroup]="miFormulario" (ngSubmit)="doctor()">
      <h2 class="title-doctor">Introduzca los datos necesarios</h2>
      <div class="input-container-doctor">
        <span class="p-float-label">
          <p-dropdown
            formControlName="cabecera"
            [options]="opcionesCabecera"
            class="custom-input-doctor-1"
          ></p-dropdown>

          <label for="float-input">Cabecera</label>
        </span>
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="name"
            class="custom-input-doctor-1"
            pInputText
          />
          <label for="float-input">Nombre</label>
        </span>
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="apellidos"
            class="custom-input-doctor-1"
            pInputText
          />
          <label for="float-input">Apellidos</label>
        </span>
      </div>
      <div class="input-container-doctor">
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="especialidad"
            class="custom-doctor-input-3"
            pInputText
          />
          <label for="float-input">Especialidad</label>
        </span>
      </div>
      <div class="input-container-doctor">
        <span class="p-float-label">
          <input
            type="text"
            class="custom-doctor-input-3"
            formControlName="email"
            pInputText
          />
          <label for="float-input">Email</label>
        </span>
      </div>
      <div class="input-container-doctor">
        <span class="p-float-label">
          <input
            type="text"
            class="custom-doctor-input-1"
            formControlName="numColegiado"
            pInputText
          />
          <label for="float-input">Numero de Colegiado</label>
        </span>
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="telefono_movil"
            class="custom-doctor-input-1"
            pInputText
          />
          <label for="float-input">Teléfono Móvil</label>
        </span>
        <span class="p-float-label">
          <input
            id="float-input"
            type="text"
            formControlName="dni"
            pInputText
            class="custom-doctor-input-1"
          />
          <label for="float-input">DNI</label>
        </span>
      </div>

      <div class="button-container p-d-flex p-ai-center">
        <button
          pButton
          pRipple
          icon="pi pi-times"
          type="button"
          label="Cancelar"
          class="p-button-raised p-button-danger"
          (click)="onHideDialog()"
        ></button>
        <button
          pButton
          pRipple
          type="submit"
          icon="pi pi-check"
          type="button"
          (click)="doctor()"
          label="Guardar"
          class="p-button-raised p-button-success"
          [disabled]="miFormulario.invalid"
        ></button>
      </div>
    </form>
  </div>
</p-dialog>

<div class="main-content" [style.margin-left]="sidebarOpen ? '200px' : '0'" style="padding-top: 2rem;">

<div class="card-custom-general">
  <button
  pButton
  pRipple
  type="button"
  (click)="showModalDialog()"
  icon="pi pi-plus"
  label="Añadir doctor"
  class="p-button-primary"
></button>
<ul>
  <li *ngFor="let doctor of doctores">
    <div class="card">
      <div class="card-img" style="background-color: #c4c4c4">
        <div class="frame">
          <img src="https://via.placeholder.com/150" alt="Profile Picture" />
        </div>
      </div>
      <div class="card-content">
        <h2>{{ doctor.cabecera }} {{ doctor.name }} {{ doctor.apellidos }}</h2>
        <h3>{{ doctor.especialidad }}</h3>
        <ul class="contact-info">
          <li><strong>Correo:</strong> {{ doctor.email }}</li>
          <li>
            <strong>Número de colegiado: </strong> {{ doctor.numColegiado }}
          </li>
        </ul>
        <div class="icon-container">
          <i
            (click)="deleteDoctor(doctor._id)"
            class="pi pi-trash custom-icon-trash icon"
          ></i>
          <i
            class="pi pi-info-circle custom-icon-info icon"
            (click)="verDoctor(doctor._id)"
          ></i>
          <i class="pi pi-envelope custom-icon-envelop icon"></i>
          <i class="pi pi-file-edit custom-icon-edit icon" (click)="editarDoctor(doctor._id)" ></i>
        </div>
      </div>
    </div>
  </li>
</ul>
</div>

<p-dialog [(visible)]="doctorSeleccionado" [responsive]="true"  [closable]="true" [closeOnEscape]="true" [dismissableMask]="true" [draggable]="true" (onHide)="doctorSeleccionado = null">
  <div>
    <h2>{{ doctorSeleccionado?.name }} {{ doctorSeleccionado?.apellidos }}</h2>
    <p>Especialidad: {{ doctorSeleccionado?.especialidad }}</p>
    <p>Correo electrónico: {{ doctorSeleccionado?.email }}</p>
    <p>Número de colegiado: {{ doctorSeleccionado?.numColegiado }}</p>
    <p>Teléfono móvil: {{ doctorSeleccionado?.telefono_movil }}</p>
    <p>DNI: {{ doctorSeleccionado?.dni }}</p>
    </div>
    </p-dialog>
</div>

 