<app-headbar></app-headbar>
<div class="sidebar" [ngClass]="{'open': sidebarOpen, 'closed': !sidebarOpen}" [style.transition]="'all 0.3s ease'">
  <button (click)="closeSidebar()" class="close-button pi pi-times"></button>
  <ul>
    <li><a routerLink="/dashboard"><i class="pi pi-home"></i> Home</a></li>
    <li><a routerLink="/pacientes"><i class="pi pi-id-card"></i> Pacientes</a></li>
    <li><a routerLink="/tratamientos"><i class="pi pi-list"></i> Tratamientos</a></li>
    <li><a routerLink="/doctores"><i class="pi pi-users"></i> Doctores</a></li>
    <li><a routerLink="/inventario"><i class="pi pi-shopping-cart"></i> Inventario</a></li>
    <li><a routerLink="/eventos"><i class="pi pi-calendar"></i>Calendario</a></li>
    <li><a routerLink="/presupuestos"><i class="pi pi-dollar"></i> Presupuestos</a></li>
    <li><a routerLink="/estadisticas"><i class="pi pi-chart-bar"></i> Estadísticas</a></li>
  </ul>
</div>

<button (click)="openSidebar()" class="open-button pi pi-bars" [style.transition]="'all 0.3s ease, z-index 0s linear ' + (sidebarOpen ? '0s' : '0.3s')"></button>
 
<div class="main-content" [class.main-content-open]="sidebarOpen" [style.margin-left.px]="sidebarOpen ? 200 : 0" [style.transition]="'margin-left 0.5s ease'">
 
<div class="card-custom-general">
  <p-dialog
    [(visible)]="displayDialog"
    [responsive]="true"
    [modal]="true"
    [closable]="true"
    [closeOnEscape]="true"
    [dismissableMask]="true"
    [draggable]="true"
    (onHide)="onHideDialog()"
  >
    <div>
      <form
        autocomplete="off"
        [formGroup]="miFormulario"
        (ngSubmit)="addPaciente()"
      >
        <h2 class="title-paciente">Introduzca los datos necesarios</h2>
        <div class="input-container-paciente">
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              formControlName="name"
              pInputText
            />
            <label for="float-input">Nombre</label>
          </span>
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              formControlName="apellidos"
              class="custom-input-paciente-1"
              pInputText
            />
            <label for="float-input">Apellidos</label>
          </span>
        </div>
        <div class="input-container-paciente">
          <span class="p-float-label">
            <input
              type="text"
              class="custom-paciente-input-2"
              formControlName="email"
              pInputText
            />
            <label for="float-input">Email</label>
          </span>
        </div>
        <div class="input-container-paciente">
          <span class="p-float-label">
            <input
              type="text"
              class="custom-paciente-input-2"
              formControlName="direccion"
              pInputText
            />
            <label for="float-input">Dirección</label>
          </span>
        </div>

        <div class="input-container-paciente">
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              formControlName="telefono_movil"
              pInputText
            />
            <label for="float-input">Teléfono Móvil</label>
          </span>
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              formControlName="dni"
              pInputText
            />
            <label for="float-input">DNI</label>
          </span>
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              formControlName="cp"
              pInputText
            />
            <label for="float-input">CP</label>
          </span>
        </div>

        <div class="input-container-paciente">
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              formControlName="municipio"
              pInputText
              class="custom-paciente-input-3"
            />
            <label for="float-input">Municipio</label>
          </span>
          <span class="p-float-label">
            <input
              id="float-input"
              type="text"
              formControlName="provincia"
              pInputText
              class="custom-paciente-input-3"
            />
            <label for="float-input">Provincia</label>
          </span>
        </div>
        <div class="button-container p-d-flex p-ai-center">
          <button
            pButton
            pRipple
            icon="pi pi-times"
            type="button"
            label="Cancelar"
            class="p-button-raised p-button-danger"
            (click)="onHideDialog()"
          ></button>
          <button
            pButton
            pRipple
            type="submit"
            (click)="addPaciente()"
            icon="pi pi-check"
            type="button"
            label="Guardar"
            class="p-button-raised p-button-success"
            [disabled]="miFormulario.invalid"
          ></button>
        </div>
      </form>
    </div>
  </p-dialog>

  <div class="container">
    <div class="search-bar">
      <div class="p-inputgroup">
        <input
          type="text"
          pInputText
          placeholder="Buscar..."
          [(ngModel)]="globalFilter"
          (input)="applyGlobalFilter()"
          class="search-input"
        />
        <button
          pButton
          icon="pi pi-search"
          class="p-button-secondary"
          (click)="applyGlobalFilter()"
          aria-label="Buscar"
        ></button>
      </div>
      <button
        pButton
        pRipple
        type="button"
        (click)="showModalDialog()"
        icon="pi pi-plus"
        label="Añadir paciente"
        class="p-button-primary"
      ></button>
    </div>

    <div class="dropdown-container">
      <div class="p-field">
        <p-dropdown
          [options]="rowsOptions"
          [(ngModel)]="rows"
          (onChange)="onRowsChange($event.value)"
          id="rows"
          aria-label="Seleccionar cantidad de filas"
        ></p-dropdown>
      </div>
    </div>
  </div>

  <p-table
    [value]="pacientes"
    [paginator]="true"
    [rows]="rows"
    [responsive]="true"
    class="table"
    role="table"
  >
    <ng-template pTemplate="header" role="rowgroup">
      <tr role="row">
        <th role="columnheader">
          <p-columnFilter type="text" field="name"></p-columnFilter>
          Nombre
        </th>
        <th role="columnheader">
          <p-columnFilter type="text" field="apellidos"></p-columnFilter>
          Apellidos
        </th>
        <th role="columnheader">
          <p-columnFilter type="text" field="email"></p-columnFilter>
          Email
        </th>
        <th role="columnheader">Accion</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-paciente role="rowgroup">
      <tr role="row">
        <td role="cell">{{ paciente.name }}</td>
        <td role="cell">{{ paciente.apellidos }}</td>
        <td role="cell">{{ paciente.email }}</td>
        <td role="cell" class="p-d-flex p-jc-center">
          <i
            style="padding-right: 14px"
            class="pi pi-trash custom-icon-trash icon"
            (click)="deletePaciente(paciente._id)"
            aria-label="Eliminar paciente"
          ></i>
          <i
            style="padding-right: 14px"
            class="pi pi-file-edit custom-icon-edit icon"
            aria-label="Editar paciente"
          ></i>
          <i
            class="pi pi-eye custom-icon-info icon"
            (click)="verPaciente(paciente._id)"
          ></i>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [(visible)]="pacienteSeleccionado"
  [responsive]="true"
  [closable]="true"
  [closeOnEscape]="true"
  [dismissableMask]="true"
  [draggable]="true"
  (onHide)="pacienteSeleccionado = null"
>
  <div>
    <h2>
      {{ pacienteSeleccionado?.name }} {{ pacienteSeleccionado?.apellidos }}
    </h2>
    <p>Email: {{ pacienteSeleccionado?.email }}</p>
    <p>Dirección: {{ pacienteSeleccionado?.direccion }}</p>
    <p>Teléfono móvil: {{ pacienteSeleccionado?.telefono_movil }}</p>
    <p>DNI: {{ pacienteSeleccionado?.dni }}</p>
    <p>Código postal: {{ pacienteSeleccionado?.cp }}</p>
    <p>Municipio: {{ pacienteSeleccionado?.municipio }}</p>
    <p>Provincia: {{ pacienteSeleccionado?.provincia }}</p>
  </div>
</p-dialog>
</div>
<style>
  .container {
    display: flex;
  }

  .search-bar,
  .dropdown-container {
    flex-grow: 1;
  }
</style>
